@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  user-select: none;
  touch-action: manipulation;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

@font-face {
    font-family: "mario_kart_f2";
    src: url('/fonts/mario_kart_f2.ttf');
}

@font-face {
  src: url('https://assets.codepen.io/4175254/DIN2014-DemiBold.ttf') format('truetype');
  font-family: 'DIN 2014';

}

.canvas-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}


canvas{
  filter: saturate(1.4);
}

.loading-screen{
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 2;
    display:flex;
    justify-content: center;
    align-items: center;
    background: white;
    .background{
        position:fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100dvh;
        z-index: -1;
        object-fit: cover;
    }
    .loading{
        font-family: "DIN 2014";

        font-weight: 600;

        font-size: 32px;
        /* transform: scale(1.2, 1.0); */
    }
    .mention{
        position:absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center justify;
    }
}

.button-text-character {
  animation: fadeInMoveUp 1s cubic-bezier(0.3, 0.8, 0.3, 2.3) forwards;
  animation-delay: var(--delay);
  display: inline-block;
  transform:skewX(-6deg);
  font-family: "DIN 2014";

  font-weight: 600;
  text-shadow: #fff 1px 0 10px;
}

.version{
  position:fixed;
  bottom: 15px;
  font-family: "DIN 2014";
  color:white;

  font-weight: 300;
}

@keyframes fadeInMoveUp {
  0%, 100% {
    transform: translateY(0px) skewX(-6deg);
  }
  50% {
    transform: translateY(-5px) skewX(-6deg);
  }
}
